<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="header">
    <h1 style="color: #40c4ff" class="head">
      Quản lý Account
    </h1>
    <button type="button" class="btn btn-outline-secondary btn-logout" style="text-align: right">Đăng xuất</button>
  </div>
  <hr>
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <a class="nav-link" href="#">Tất cả</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Đang hoạt động</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Đang bị khóa</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Các ảnh bị báo cáo</a>
    </li>
  </ul>
  <table class="table table-style">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên username</th>
      <th scope="col">Chức vụ</th>
      <th scope="col">Trạng thái</th>
      <th scope="col">Cài đặt</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td><i class="fas fa-cog"></i></td>
    </tr>
    </tbody>
  </table>
</div>
