<!DOCTYPE html>
<html>
<head>
    <title>sdasdasdasd</title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <script src="/jquery/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Mem</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Notification</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1">Profile</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container">
    <div class="card" style="width: 600px">
        <img src="https://www.theinvisibletourist.com/wp-content/uploads/2017/04/featured_85.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="row">
                <span style="display: inline-block;
    margin-left: -8px;">
                    <buton style="min-height: 40px;
    min-width: 40px;"><span class="icon-like"></span></buton>
                </span>
                <span style="display: inline-block;">
                    <buton style="min-height: 40px;
    min-width: 40px;"><span class="icon-comment"></span></buton>
                </span>
                <span style="margin-left: auto;
    margin-right: -10px; display: inline-block;">
                    <buton style="min-height: 40px;
    min-width: 40px;"><span class="icon-detail"></span></buton>
                </span>
            </div>
        </div>

    </div>
</div>

</body>
</html>
